.title {
  text-align: center;
  color: gray;
  font-size: 0.4em;
  margin-bottom: 8em;
}

.technology-icon {
  width: 1em;
  height: 1em;
  margin: 2em 0.5em;
}

.technologies-row {
  display: flex;
}
